# About This Document
In the context of a project that involves flowing data from spreadheets used in the management of a farm operation into farmOS (v2.x) via API interface, we are here evaluating the potential of Jupyter Notebooks as an interface for non-technical users to perform essential data processsing operations. 

Given CSV as the intermediary format for data exchange, the first step is to develop a facility for loading & processing CSV files of several types (e.g. landplots, crops, harvest logs) that are to be uploaded to the database via Python scripts that talk to the farmOS API.

# Tool Selection / Loading

## Standard Python libraries

In [1]:
# import needed libraries, and check versions
import numpy as np
import pandas as pd   #load the software
print("Pandas version ",pd.__version__)  # confirm software version, to guarantee reproducible results
print("Numpy version ",np.__version__)

Pandas version  1.3.5
Numpy version  1.21.5

## JupyterLite helper scripts

Though this document was initially authored in Google Collaboratory as a full-featured Jupyter Notebook, it is also being deployed in JupyterLite, where certain libraries needed to run the following code are unavailable. 

So: in JupyterLite environment, skip to the bottom of this for access to helper code that should render all other code herein usable.

# Data Collection

In [2]:
# Import the .csv datafile of all land assets (as of 2022.03.14)
df1=pd.read_csv("/content/land_assets.csv")
# verify shape of dataframe matches the source file
print("Number of Rows, Columns = ",df1.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df1.columns)  # to see names of column headers
print("Datatype of index = ",type(df1.index[0]))  # to confirm datatype of the index

Number of Rows, Columns =  (201, 11)
Column Headers:  Index(['Bulk update', 'image_target_id', 'ID', 'Asset name', 'Land type',
       'Asset type', 'Flags', 'Parents', 'Group', 'Location', 'Status'],
      dtype='object')
Datatype of index =  <class 'int'>

In [3]:
# Import the .csv datafile of all planting assets (as of 2022.03.14)
df2=pd.read_csv("/content/planting_assets.csv")
# verify shape of dataframe matches the source file
print("Number of Rows, Columns = ",df2.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df2.columns)  # to see names of column headers
print("Datatype of index = ",type(df1.index[0]))  # to confirm datatype of the index

Number of Rows, Columns =  (289, 13)
Column Headers:  Index(['Done', 'Date', 'Log name', 'Asset IDs', 'Asset names',
       'Archive assets', 'Notes', 'Categories', 'Quantity measure',
       'Quantity value', 'Quantity unit', 'Quantity label', 'Area/Location'],
      dtype='object')
Datatype of index =  <class 'int'>

In [4]:
# Import the .csv datafile of all harvest logs from 2021 Q4 (weeks 39-52)
df3=pd.read_csv("/content/harvest_log2021.csv")
# verify shape of dataframe matches the source file
print("Number of Rows, Columns = ",df3.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df3.columns)  # to see names of column headers
print("Datatype of index = ",type(df3.index[0]))  # to confirm datatype of the index

Number of Rows, Columns =  (735, 14)
Column Headers:  Index(['species', 'Areas', 'Quantity value', 'Notes', 'Asset names',
       'Log name', 'Done', 'Date', 'Archive assets', 'Quantity label',
       'Lot number', 'Categories', 'Quantity measure', 'Quantity unit'],
      dtype='object')
Datatype of index =  <class 'int'>

In [5]:
# Import the .csv datafile of all harvest logs from 2022 YTD (weeks 1-10)
df4=pd.read_csv("/content/harvest_log2022.csv")
# verify shape of dataframe matches the source file
print("Number of Rows, Columns = ",df4.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df4.columns)  # to see names of column headers
print("Datatype of index = ",type(df4.index[0]))  # to confirm datatype of the index

Number of Rows, Columns =  (495, 14)
Column Headers:  Index(['species', 'Areas', 'Quantity value', 'Notes', 'Asset names',
       'Log name', 'Done', 'Date', 'Archive assets', 'Quantity label',
       'Lot number', 'Categories', 'Quantity measure', 'Quantity unit'],
      dtype='object')
Datatype of index =  <class 'int'>

# Data Preview / Overview
Load tables (head and tail; in gColab, click on blue pen icon to explore deeper using "Data Table" features), and run summary stats

In [6]:
df1

,Bulk update,image_target_id,ID,Asset name,Land type,Asset type,Flags,Parents,Group,Location,Status
0,NaN,NaN,538,Quinta Vale da Lama,Other,Land,NaN,NaN,NaN,NaN,Active
1,NaN,NaN,537,HortasDoVale-West (HDVW) - bed 22 south section,Bed,Land,Flags\n \n Organic,HortasDoVale-West (HDVW) - bed 22,NaN,NaN,Active
2,NaN,NaN,536,HortasDoVale-West (HDVW) - bed 22 north section,Bed,Land,Flags\n \n Organic,HortasDoVale-West (HDVW) - bed 22,NaN,NaN,Active
3,NaN,NaN,535,HortasDoVale-West (HDVW) - bed 25 south section,Bed,Land,Flags\n \n Organic,HortasDoVale-West (HDVW) - bed 25,NaN,NaN,Active
4,NaN,NaN,534,HortasDoVale-West (HDVW) - bed 25 north section,Bed,Land,Flags\n \n Organic,HortasDoVale-West (HDVW) - bed 25,NaN,NaN,Active
...,...,...,...,...,...,...,...,...,...,...,...
196,NaN,NaN,342,23U,Property,Land,NaN,Quinta Vale da Lama,NaN,NaN,Active
197,NaN,NaN,341,20U,Property,Land,NaN,Quinta Vale da Lama,NaN,NaN,Active
198,NaN,NaN,340,19U,Property,Land,NaN,Quinta Vale da Lama,NaN,NaN,Active
199,NaN,NaN,339,23V,Property,Land,NaN,Quinta Vale da Lama,NaN,NaN,Active
200,NaN,NaN,338,18U,Property,Land,NaN,Quinta Vale da Lama,NaN,NaN,Active

In [7]:
# df1.drop(df1.loc[df1['Flags']<17].index, inplace=True)

In [8]:
df1.describe(include='all')

,Bulk update,image_target_id,ID,Asset name,Land type,Asset type,Flags,Parents,Group,Location,Status
count,0.0,0.0,201.000000,201,201,201,176,200,0.0,0.0,201
unique,NaN,NaN,NaN,200,5,1,3,64,NaN,NaN,1
top,NaN,NaN,NaN,HortasDoVale-East (HDVE) - bed 2 north section,Bed,Land,Flags\n \n Organic,HVE : HortasDoVale-East,NaN,NaN,Active
freq,NaN,NaN,NaN,2,172,201,173,27,NaN,NaN,201
mean,NaN,NaN,438.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,58.167861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,338.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,388.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,438.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,488.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,538.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df2

,Done,Date,Log name,Asset IDs,Asset names,Archive assets,Notes,Categories,Quantity measure,Quantity value,Quantity unit,Quantity label,Area/Location
0,1,14.0,NaN,NaN,2022-W10 Zuccini HVE24-S,0,Length of bed: 10.7 m,NaN,14.0,NaN,plants,pl,HortasDoVale-East (HDVE) - bed 24 south section
1,1,14.0,NaN,NaN,2022-W10 Zuccini HVE23-S,0,Length of bed: 8.91 m,NaN,11.0,NaN,plants,pl,HortasDoVale-East (HDVE) - bed 23 south section
2,1,14.0,NaN,NaN,2022-W10 Tomato roma HVW05,0,Length of bed: 57 m,NaN,142.0,NaN,plants,pl,HortasDoVale-West (HDVW) - bed 5
3,1,14.0,NaN,NaN,2022-W10 Radishes SGH3-S,0,Length of bed: 6.23 m,NaN,934.0,NaN,plants,pl,Summer Green House (SGH) - bed 3 south section
4,1,14.0,NaN,NaN,2022-W10 Pack choi HVE22-N,0,Length of bed: 27.6 m,NaN,496.0,NaN,plants,pl,HortasDoVale-East (HDVE) - bed 22 north section
...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,1,14.0,NaN,NaN,2021-W10 Chives SGH3-S,0,Length of bed: 4.45 m,NaN,80.0,NaN,plants,pl,Summer Green House (SGH) - bed 3 south section
285,1,28.0,NaN,NaN,2021-W08 Parsley SGH2-N,0,Length of bed: 4.45 m,NaN,160.0,NaN,plants,pl,Summer Green House (SGH) - bed 2 north section
286,1,31.0,NaN,NaN,2021-W04 Strawberry HVW25,0,Length of bed: 57 m,NaN,426.0,NaN,plants,pl,HortasDoVale-West (HDVW) - bed 25
287,1,31.0,NaN,NaN,2021-W04 Strawberry HVW24,0,Length of bed: 57 m,NaN,426.0,NaN,plants,pl,HortasDoVale-West (HDVW) - bed 24
288,1,NaN,NaN,NaN,2020-0 Swiss chard Autumn HVW04-N,0,Length of bed: 20.5 m,NaN,184.0,NaN,plants,pl,HortasDoVale-West (HDVW) - bed 4 north section

In [10]:
df2.describe(include='all')

,Done,Date,Log name,Asset IDs,Asset names,Archive assets,Notes,Categories,Quantity measure,Quantity value,Quantity unit,Quantity label,Area/Location
count,289.0,288.000000,0.0,0.0,289,289.0,289,0.0,283.000000,0.0,283,283,289
unique,NaN,NaN,NaN,NaN,289,NaN,55,NaN,NaN,NaN,1,1,114
top,NaN,NaN,NaN,NaN,2022-W10 Zuccini HVE24-S,NaN,Length of bed: 28.5 m,NaN,NaN,NaN,plants,pl,Winter Green House - bed 6
freq,NaN,NaN,NaN,NaN,1,NaN,23,NaN,NaN,NaN,283,283,8
mean,1.0,17.586806,NaN,NaN,NaN,0.0,NaN,NaN,492.286219,NaN,NaN,NaN,NaN
std,0.0,9.008674,NaN,NaN,NaN,0.0,NaN,NaN,1266.875639,NaN,NaN,NaN,NaN
min,1.0,1.000000,NaN,NaN,NaN,0.0,NaN,NaN,4.000000,NaN,NaN,NaN,NaN
25%,1.0,10.000000,NaN,NaN,NaN,0.0,NaN,NaN,64.000000,NaN,NaN,NaN,NaN
50%,1.0,17.000000,NaN,NaN,NaN,0.0,NaN,NaN,144.000000,NaN,NaN,NaN,NaN
75%,1.0,26.000000,NaN,NaN,NaN,0.0,NaN,NaN,320.000000,NaN,NaN,NaN,NaN
max,1.0,31.000000,NaN,NaN,NaN,0.0,NaN,NaN,11040.000000,NaN,NaN,NaN,NaN

In [11]:
df3

,species,Areas,Quantity value,Notes,Asset names,Log name,Done,Date,Archive assets,Quantity label,Lot number,Categories,Quantity measure,Quantity unit
0,Swiss chard,HortasDoVale-West (HDVW) - bed 4 north section,"3,4",NaN,2020-0 Swiss chard Autumn HVW04-N,harvest from 2020-0 Swiss chard Autumn HVW04-N,TRUE,2021-09-27,NaN,NaN,NaN,plantings,weight,Kg
1,Celery,HortasDoVale-West (HDVW) - bed 1,2,NaN,2021-W27 Celery HVW01-S,harvest from 2021-W27 Celery HVW01-S,TRUE,2021-09-27,NaN,NaN,NaN,plantings,weight,Kg
2,Celery,HortasDoVale-West (HDVW) - bed 15 north section,"1,38",NaN,2021-W31 Celery HVW15-N,harvest from 2021-W31 Celery HVW15-N,TRUE,2021-09-27,NaN,NaN,NaN,plantings,weight,Kg
3,Celery,HortasDoVale-West (HDVW) - bed 8,"0,5",NaN,2021-W22 Celery HVW08-N,harvest from 2021-W22 Celery HVW08-N,TRUE,2021-09-27,NaN,NaN,NaN,plantings,weight,Kg
4,Lettuce,Summer Green House (SGH) - bed 4 south section,"10,9",NaN,2021-W34 Lettuce SGH4-S,harvest from 2021-W34 Lettuce SGH4-S,TRUE,2021-09-27,NaN,NaN,NaN,plantings,weight,Kg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,Peppers,HortasDoVale-West (HDVW) - bed 5 south section,"0,4",NaN,2021-W24 Peppers HVW05-S,harvest from 2021-W24 Peppers HVW05-S,TRUE,2021-12-27,NaN,NaN,NaN,plantings,weight,Kg
731,Horse radish,HortasDoVale-West (HDVW) - bed 10 south section,"5,7",NaN,2021-W34 Horse radish HVW10-S,harvest from 2021-W34 Horse radish HVW10-S,TRUE,2021-12-27,NaN,NaN,NaN,plantings,weight,Kg
732,Tomato roma,Winter Green House - bed 2,13,NaN,2021-W34 Tomato roma WGH2,harvest from 2021-W34 Tomato roma WGH2,TRUE,2021-12-27,NaN,NaN,NaN,plantings,weight,Kg
733,Tomatos small,Winter Green House - bed 1,"0,5",NaN,2021-W13 Tomatos small WGH1,harvest from 2021-W13 Tomatos small WGH1,TRUE,2021-12-27,NaN,NaN,NaN,plantings,weight,Kg
734,Tomatos varied,Winter Green House - bed 1,"6,8",NaN,2021-W13 Tomatos varied WGH1,harvest from 2021-W13 Tomatos varied WGH1,TRUE,2021-12-27,NaN,NaN,NaN,plantings,weight,Kg

In [12]:
df3.describe(include='all')

,species,Areas,Quantity value,Notes,Asset names,Log name,Done,Date,Archive assets,Quantity label,Lot number,Categories,Quantity measure,Quantity unit
count,734,734,734,1,733,733,735,734,1,1,1,735,735,735
unique,47,65,209,1,116,116,2,15,1,1,1,2,2,2
top,Peppers,HortasDoVale-West (HDVW) - bed 23 north section,"0,5",Notes,2021-W36 Fennel bulb HVW23-N,harvest from 2021-W36 Fennel bulb HVW23-N,TRUE,2021-11-15,Archive assets,Quantity label,Lot number,plantings,weight,Kg
freq,54,49,29,1,28,28,734,67,1,1,1,734,734,734

In [13]:
df4

,species,Areas,Quantity value,Notes,Asset names,Log name,Done,Date,Archive assets,Quantity label,Lot number,Categories,Quantity measure,Quantity unit
0,Butternut,HortasDoVale-East (HDVE) - bed 27,"2,6",NaN,2021-W33 Butternut HVE27-S,harvest from 2021-W33 Butternut HVE27-S,TRUE,2022-01-03,NaN,NaN,NaN,plantings,weight,Kg
1,Hokkaido,HortasDoVale-East (HDVE) - bed 27,"4,8",NaN,2021-W33 Hokkaido HVE27-N,harvest from 2021-W33 Hokkaido HVE27-N,TRUE,2022-01-03,NaN,NaN,NaN,plantings,weight,Kg
2,Swiss chard,HortasDoVale-West (HDVW) - bed 13 north section,5,NaN,2021-W27 Swiss chard HVW13-N,harvest from 2021-W27 Swiss chard HVW13-N,TRUE,2022-01-03,NaN,NaN,NaN,plantings,weight,Kg
3,Swiss chard,HortasDoVale-West (HDVW) - bed 15 south section,1,NaN,2021-W36 Swiss chard HVW15-S,harvest from 2021-W36 Swiss chard HVW15-S,TRUE,2022-01-03,NaN,NaN,NaN,plantings,weight,Kg
4,Swiss chard,HortasDoVale-West (HDVW) - bed 4 north section,10,NaN,2020-0 Swiss chard Autumn HVW04-N,harvest from 2020-0 Swiss chard Autumn HVW04-N,TRUE,2022-01-03,NaN,NaN,NaN,plantings,weight,Kg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,Radishes,Summer Green House (SGH) - bed 4 north section,"0,6",NaN,2022-W01 Radishes SGH4-N,harvest from 2022-W01 Radishes SGH4-N,TRUE,2022-03-07,NaN,NaN,NaN,plantings,weight,Kg
491,Horse radish,HortasDoVale-East (HDVE) - bed 15 north section,"11,9",NaN,2021-W48 Horse radish HVE15-N,harvest from 2021-W48 Horse radish HVE15-N,TRUE,2022-03-07,NaN,NaN,NaN,plantings,weight,Kg
492,Rucula,HortasDoVale-West (HDVW) - bed 23 north section,"0,6",NaN,2021-W34 Rucula HVW23-N,harvest from 2021-W34 Rucula HVW23-N,TRUE,2022-03-07,NaN,NaN,NaN,plantings,weight,Kg
493,Parsley,Summer Green House (SGH) - bed 3 south section,"0,6",NaN,2021-W45 Parsley SGH3-S,harvest from 2021-W45 Parsley SGH3-S,TRUE,2022-03-07,NaN,NaN,NaN,plantings,weight,Kg
494,Parsley,Summer Green House (SGH) - bed 4 north section,1,NaN,2021-W29 Parsley SGH4-N,harvest from 2021-W29 Parsley SGH4-N,TRUE,2022-03-07,NaN,NaN,NaN,plantings,weight,Kg

In [14]:
df4.describe(include='all')

,species,Areas,Quantity value,Notes,Asset names,Log name,Done,Date,Archive assets,Quantity label,Lot number,Categories,Quantity measure,Quantity unit
count,495,495,495,1,494,494,495,495,1,1,1,495,495,495
unique,49,68,187,1,112,112,2,11,1,1,1,2,2,2
top,Broccoli,HortasDoVale-East (HDVE) - bed 16 north section,"0,6",Notes,2021-W42 Broccoli HVE11-N,harvest from 2021-W42 Broccoli HVE11-N,TRUE,2022-01-24,Archive assets,Quantity label,Lot number,plantings,weight,Kg
freq,31,24,17,1,11,11,494,60,1,1,1,494,494,494

# Data Wrangling

## 1st: Tidy Data
Three fundamental requirements to enable good data analysis:


1. each variable forms a column
2. each observation forms a row
3. each cell is a single measurement

## 2nd: Data Cleanup

Once we've got data in Tidy Table form, there are a few other things we might do:



*  Fill in gaps (i.e. null values) wherever we can
*  Eliminate duplicate records
*  Convert datatypes where appropriate: eg convert dates from string format
*

# JupyterLite helper functions
Though this document was initially authored in Google Collaboratory as a full-featured Jupyter Notebook, it is also being deployed in JupyterLite, where certain libraries are unavailable, so this section includes some helper functions necessary to work with these CSV files in that envionment.

In [15]:
# From https://gist.github.com/bollwyvl/132aaff5cdb2c35ee1f75aed83e87eeb
async def get_contents(path):
    """use the IndexedDB API to acess JupyterLite's in-browser (for now) storage
    
    for documentation purposes, the full names of the JS API objects are used.
    
    see https://developer.mozilla.org/en-US/docs/Web/API/IDBRequest
    """
    import js, asyncio

    DB_NAME = "JupyterLite Storage"

    # we only ever expect one result, either an error _or_ success
    queue = asyncio.Queue(1)
    
    IDBOpenDBRequest = js.self.indexedDB.open(DB_NAME)
    IDBOpenDBRequest.onsuccess = IDBOpenDBRequest.onerror = queue.put_nowait
    
    await queue.get()
    
    if IDBOpenDBRequest.result is None:
        return None
        
    IDBTransaction = IDBOpenDBRequest.result.transaction("files", "readonly")
    IDBObjectStore = IDBTransaction.objectStore("files")
    IDBRequest = IDBObjectStore.get(path, "key")
    IDBRequest.onsuccess = IDBRequest.onerror = queue.put_nowait
    
    await queue.get()
    
    return IDBRequest.result.to_py() if IDBRequest.result else None

In [16]:
import io
import pandas

train = pandas.read_csv(io.StringIO((await get_contents("/content/sample_data/mnist_train_small.csv"))["content"]))

iris

SyntaxError: ignored

In [ ]:
import io

# Import the datafile of iris.csv and eyeball a few
# copying path of file, it is:   data/iris.csv
file_obj = io.StringIO((await get_contents("/content/sample_data/mnist_train_small.csv"))["content"])
df=pd.read_csv(file_obj)
# do hi-level overview
print("Number of Rows, Columns = ",df.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df.columns)  # to see names of column headers
print("Datatype of index = ",type(df.index[0]))  # to confirm datatype of the index