<a href="https://colab.research.google.com/github/ludwa6/farmOS/blob/main/csv_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About This Document
Based on export of all data- 2 types: Assets and Logs -from farmOS v2.x (dev)...

# Tool Selection / Loading
For now we will make do with just the [link text](https://)standard Python libraries

In [1]:
# import needed libraries, and check versions
import numpy as np
import pandas as pd   #load the software
print("Pandas version ",pd.__version__)  # confirm software version, to guarantee reproducible results
print("Numpy version ",np.__version__)

Pandas version  1.3.5
Numpy version  1.21.5

# Data Collection

In [2]:
# Import the .csv datafile of all assets (v2, as of 2022.03.12) and eyeball a few
df1=pd.read_csv("/content/assets_all_v2.csv")
# do hi-level overview
print("Number of Rows, Columns = ",df1.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df1.columns)  # to see names of column headers
print("Datatype of index = ",type(df1.index[0]))  # to confirm datatype of the index

Number of Rows, Columns =  (437, 10)
Column Headers:  Index(['Bulk update', 'image_target_id', 'ID', 'Asset name', 'Asset type',
       'Flags', 'Parents', 'Group', 'Location', 'Status'],
      dtype='object')
Datatype of index =  <class 'int'>

In [4]:
# Import the .csv datafile of all logs (v2, as of 2022.03.12) and eyeball a few
df2=pd.read_csv("/content/logs_all_v2.csv")
# do hi-level overview
print("Number of Rows, Columns = ",df2.shape)  #to know the depth & scope of dataframe
print("Column Headers: ",df2.columns)  # to see names of column headers
print("Datatype of index = ",type(df2.index[0]))  # to confirm datatype of the index

Number of Rows, Columns =  (491, 12)
Column Headers:  Index(['Bulk update', 'Status', 'id', 'Timestamp', 'Log name', 'Log type',
       'Assets', 'Location', 'Quantity', 'Flags', 'Log category',
       'Assigned to'],
      dtype='object')
Datatype of index =  <class 'int'>

# Data Preview / Overview
NB: click on the blue pen icon to enjoy "Data Table" features

In [3]:
df1

,Bulk update,image_target_id,ID,Asset name,Asset type,Flags,Parents,Group,Location,Status
0,NaN,NaN,36,2019 EiraField Pears Comice,Plant,Flags\n \n Organic,NaN,NaN,EiraField,Active
1,NaN,NaN,37,2019 EiraField Pears Nashi-Kumoi,Plant,Flags\n \n Organic,NaN,NaN,EiraField,Active
2,NaN,NaN,38,2019 EiraField Pears Nachi,Plant,Flags\n \n Organic,NaN,NaN,EiraField,Active
3,NaN,NaN,257,2021 Celery week22 HVW8-N,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active
4,NaN,NaN,258,2021 Basil week22 HVW8-S,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active
...,...,...,...,...,...,...,...,...,...,...
432,NaN,NaN,252,2021 Zuccini week29 HVW7-N,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active
433,NaN,NaN,253,2021 Cucumber week29 HVW7-N,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active
434,NaN,NaN,254,2021 Melon long week29 HVW7-S,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active
435,NaN,NaN,255,2021 Tomatos varied week21 HVW8,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active
436,NaN,NaN,256,2021 Basil week21 HVW8-N,Plant,Flags\n \n Transitional ...,NaN,NaN,NaN,Active

In [5]:
df2

,Bulk update,Status,id,Timestamp,Log name,Log type,Assets,Location,Quantity,Flags,Log category,Assigned to
0,NaN,Done,255,2019-12-13,2019 Alface week 49 located in Nursery,Observation,2019 Alface week 49,WGH : Winter Green House,NaN,Flags\n \n Needs review,NaN,orsa
1,NaN,Done,256,2019-12-13,Group 2019 Aipo week 49 into seedlings,Observation,2019 Aipo week 49,NaN,NaN,Flags\n \n Needs review,NaN,orsa
2,NaN,Done,257,2019-12-13,2019 Aipo week 49 located in Nursery,Observation,2019 Aipo week 49,WGH : Winter Green House,NaN,Flags\n \n Needs review,NaN,orsa
3,NaN,Done,258,2019-12-13,Group 2019 Beetroot week 49 into seedlings,Observation,2019 Betarraba week 49,NaN,NaN,Flags\n \n Needs review,NaN,orsa
4,NaN,Done,259,2019-12-13,2019 Beetroot week 49 located in Nursery,Observation,2019 Betarraba week 49,WGH : Winter Green House,NaN,Flags\n \n Needs review,NaN,orsa
...,...,...,...,...,...,...,...,...,...,...,...,...
486,NaN,Done,250,2019-12-13,Group 2019 Couve week 49 into seedlings,Observation,2019 Couve week 49,NaN,NaN,Flags\n \n Needs review,NaN,orsa
487,NaN,Done,251,2019-12-13,2019 Couve week 49 located in Nursery,Observation,2019 Couve week 49,WGH : Winter Green House,NaN,Flags\n \n Needs review,NaN,orsa
488,NaN,Done,252,2019-12-13,Group 2019 Alface week 49 into seedlings,Observation,2019 Alface week 49,NaN,NaN,Flags\n \n Needs review,NaN,orsa
489,NaN,Done,253,2019-12-13,2019 Alface week 49 located in Nursery,Observation,2019 Alface week 49,WGH : Winter Green House,NaN,Flags\n \n Needs review,NaN,orsa
490,NaN,Done,254,2019-12-13,Group 2019 Alface week 49 into seedlings,Observation,2019 Alface week 49,NaN,NaN,Flags\n \n Needs review,NaN,orsa

In [ ]:
df1.describe(include='all')

In [ ]:
df2.describe(include='all')

In [7]:
# df1.drop(df1.loc[df1['Flags']<17].index, inplace=True)

# Data Wrangling

## 1st: Tidy Data
Three fundamental requirements to enable good data analysis:


1. each variable forms a column
2. each observation forms a row
3. each cell is a single measurement

## 2nd: Data Cleanup

Once we've got data in Tidy Table form, there are a few other things we might do:



*  Fill in gaps (i.e. null values) wherever we can
*  Eliminate duplicate records
*  Convert datatypes where appropriate: eg convert dates from string format
*